/* src/components/financial/AssetsLiabilitiesForm.module.css */

.container {
  min-width: 500px;
  padding: 0.5rem;
}

.title {
  font-size: 1.125rem; /* text-lg */
  font-weight: 700; /* font-bold */
  margin-bottom: 1rem; /* mb-4 */
  text-transform: capitalize;
  color: #111827; /* gray-900 */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* gap-4 */
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem; /* gap-2 */
  margin-top: 1rem; /* mt-4 */
  border-top: 1px solid #f3f4f6; /* border-gray-100 */
  padding-top: 1rem; /* pt-4 */
}

/* Responsividade para telas pequenas */
@media (max-width: 640px) {
  .container {
    min-width: 100%; /* Remove a largura fixa no mobile */
  }
}
