/* src/components/layout/MainLayout.module.css */

.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1; /* Ocupa todo o espaço restante */
  padding: 2rem;
  background-color: #f4f7fa;
  overflow-y: auto; /* Adiciona scroll se o conteúdo for muito grande */
}
