/* src/components/ui/Spinner.module.css */

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Se for fullScreen, ocupa a tela toda. Se não, ocupa o tamanho do pai */
  width: 100%;
  height: 100%;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-page); /* Fundo da página */
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(0, 123, 255, 0.2); /* Cor transparente do primary */
  border-left-color: var(--primary); /* Cor sólida do primary */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Variação pequena para usar dentro de botões */
.small {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
