/* src/components/layout/MainLayout.module.css */

.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  /* overflow: hidden; -> Remova isso se causar problemas de scroll */
}

/* O Wrapper engloba a Navbar e o Conteúdo Principal */
.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-page);

  /* A LÓGICA DE EMPURRAR: */
  margin-left: 260px; /* Largura padrão da sidebar aberta */
  transition: margin-left 0.3s ease; /* Mesma velocidade da sidebar */
  width: calc(100% - 260px); /* Garante que não estoure a tela */
}

/* Quando a sidebar estiver fechada */
.contentWrapper.collapsed {
  margin-left: 80px; /* Largura da sidebar fechada */
  width: calc(100% - 80px);
}

.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto; /* Scroll apenas no conteúdo, não na página toda */
}
