/* src/components/layout/MainLayout.module.css */

.layout {
  display: flex;
  height: 100vh; /* Trava a altura na tela inteira */
  width: 100vw; /* Trava a largura */
  overflow: hidden; /* Impede que a página inteira role */
}

.content {
  flex: 1; /* Ocupa todo o espaço restante ao lado da sidebar */
  padding: 2rem;
  background-color: var(--bg-page);

  /* A MÁGICA: */
  overflow-y: auto; /* Cria scroll SÓ aqui dentro se o conteúdo for grande */
  height: 100%; /* Garante que o container de scroll ocupe a altura disponível */
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-page);
  overflow: hidden; /* Importante para a Navbar ficar fixa e só o content rolar */
}
