/* src/components/ui/Input.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  margin-bottom: 1rem; /* Espaço entre um input e outro */
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-primary);
}

.input {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
  color: var(--text-primary);
  width: 100%; /* Garante que preencha o espaço */
}

/* Quando tiver erro */
.inputError {
  border-color: var(--danger); /* Borda vermelha */
  background-color: #fff8f8; /* Fundo levemente vermelho */
}

.errorMessage {
  color: var(--danger); /* Texto Vermelho */
  font-size: 0.85rem;
  margin-top: 0.25rem;
  display: block; /* Garante que apareça */
}
