.subtitleContent {
  display: flex;
  gap: 4px;
  align-items: center;
}

.highlightText {
  color: var(--success);
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 0.25rem;
}

.actionBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-secondary);
  padding: 0.4rem;
  border-radius: 6px;
  transition: all 0.2s;
}

.actionBtn:hover {
  background-color: var(--primary-light);
  color: var(--primary);
}

.deleteBtn:hover {
  background-color: #fef2f2;
  color: var(--danger);
}
